body {
    background-color: antiquewhite;
    margin: 0;
}

main {
    padding: 20px 10px;
    max-width: 600px;
    margin: 0 auto;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}