<footer>
    <nav>
        <div><a href="/">Home</a></div>
        <div><a href="/blog">Blog</a></div>
        <div><a href="/collections">Collections</a></div>
        <div><a class="rss-link" href="/feed.xml"><span>RSS Feed</span><span class="rss-icon">{% include 'partials/svg/rss-icon.jinja' %}</span></a></div>
    </nav>
</footer>