@frontmatter
{
    "title": "Shodo - A Static Site Generator - Home",
    "description": "Home page of the site",
    "keywords": ["home", "site", "example"],
    "author": "Your Name"
}
@endfrontmatter

<div class="container">
<header class="site-header">
    <h1 class="site-header__site-title">{{ config.metadata.title }}</h1>
</header>
<main>
    <section>
        {# Content below imported from src/theme/markdown/partials/homepage/content.md #}
        {{ homepage.content }}
    </section>
</main>
{% include 'partials/footer.jinja' %}
</div>