@frontmatter
{
    "title": "Blog Subject Layout",
    "author": "Shodo SSG Nested Layout",
    "body_class": "blog-subject-page",
    "body_id": "blog-subject-page-container",
    "description": "This is the subject-specific blog template"
}
@endfrontmatter

<div class="container">
<header class="page-header">
    <h1 class="page-header__title">This is the layout defined for a specific subdirectory</h1>
</header>
<main>
    {{ article.content }}
</main>
<footer>Thanks for reading</footer>
</div>