@frontmatter
{
    "title": "This is the default blog layout!",
    "author": "Shodo SSG",
    "body_class": "blog-page",
    "body_id": "blog-page-container",
    "description": "This is the default blog template"
}
@endfrontmatter

<div class="container">
<header class="page-header">
    <h1 class="page-header__title">This is the root article layout</h1>
</header>
<main>
    {{ article.content }}
</main>
<footer>Thanks for reading</footer>
</div>