<h1>Check out the Blog Posts</h1>
<div><a href="/blog/first-blog">Blog1</a></div>
<div><a href="/blog/lifestyle/second-blog">Blog2</a></div>
<footer>
    <div><a href="/">Back to Home</a></div>
</footer>