@frontmatter
{
    "title": "Blog",
    "description": "Archive for example blog posts",
    "paginate": "shodo_get_articles",
    "per_page": "3"
}
@endfrontmatter

<div class="container">
<header class="page-header">
    <h1 class="page-header__title">Blog</h1>
</header>
<main>
    {% for post in shodo_get_articles({ 
        "limit": pagination.per_page,
        "offset": pagination.per_page * (pagination.current_page - 1),
        "where": {
            "directory": { "starts_with": "/blog" }
        },
        "order_by": { "desc": "published_datetime" }
    }) %}
        <div>
            <a href="{{ post.path }}">{{ post.title or 'Untitled' }}</a>
            <p>{{ shodo_get_excerpt(post.content, 100) }}</p>
        </div>

    {% endfor %}
    <div>
      {{ pagination.page_links }}
    </div>
</main>
{% include 'partials/footer.jinja' %}
</div>