@frontmatter
{
    "title": "Collections",
    "description": "Archive for miscellaneous items",
    "paginate": "shodo_query_store",
    "per_page": "2"
}
@endfrontmatter

<div class="container">
<header class="page-header">
    <h1 class="page-header__title">Collections</h1>
</header>
<main>
    {% for item in shodo_query_store({ 
        "collection": "items",
        "where": {
            "and": [
                { "number": { "gte": 1 } },
                { "number": { "lte": 6 } }
            ]
        },
        "order_by": { "asc": "number" },
        "limit": pagination.per_page,
        "offset": pagination.per_page * (pagination.current_page - 1),
    }) %}
        <div>
            <h3>{{ item.title or 'Unnamed Item' }}</h3>
            <p>{{ shodo_get_excerpt(item.content, 100) }}</p>
        </div>

    {% endfor %}
    <div>
      {{ pagination.page_links }}
    </div>
</main>
{% include 'partials/footer.jinja' %}
</div>