<div class="container">
<!-- This is the layout defined for a specific subdirectory: /articles/blog/ -->
<div class="container">
<header class="page-header">
    <h1 class="page-header__title">{{ article.title }}</h1>
</header>

<main>
    {% if article.published_dt_local %}
    <div>Published on: {{ article.published_dt_local.month }} {{ article.published_dt_local.day }}, {{ article.published_dt_local.year }} at {{ article.published_dt_local.strftime("%I:%M:%S %p") }} {{ article.published_dt_local.strftime("%Z") }}</div>
    {% endif %}
    <hr>
    {{ article.content }}
</main>
{% include 'partials/footer.jinja' %}
</div>